---
import Base from '@layouts/Base.astro';
import Page from '@layouts/Page.astro';
---

<Base meta_title="About">
  <Page title="About">
    <p>
      My experience in React JS and TypeScript has allowed me to create robust and scalable web applications.
      Additionally, my skill in Tailwind CSS has enabled me to design websites with an attractive and consistent
      appearance.
    </p>
    <p>
      I am passionate about programming and always seeking to improve my skills and knowledge to provide the best
      possible solution. I am ready to work in a team environment, collaborate, and contribute significantly to the
      success of the company.
    </p>
  </Page>
</Base>
